@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #7C3AED;
    --cor-primaria-hover: #5928ad;
    --cor-secundaria: #FACC15;

    --cor-fundo:  #F3F4F6;
    --cor-fundo-branco: #FFF;
    --cor-fundo-verde: #2FA951;
    --cor-fundo-rodape: #161a2a;

    --cor-texto-rodape: #e7e7e7;
    --cor-texto-escuro: #202755;
    --cor-texto-clara: #717389;

    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-texto: 'Inter', sans-serif;

    /* Inicio do Tema escuro */
    --cor-dark-primaria: #A78BFA;
    --cor-dark-primaria-hover: #C4B5FD;
    --cor-dark-secundaria: #FACC15;

    --cor-dark-fundo: #161A2A;
    --cor-dark-fundo-branco: #20263B;
    --cor-dark-fundo-verde: #2FA951;
    --cor-dark-fundo-rodape: #101321;

    --cor-dark-texto-rodape: #F3F4F6;
    --cor-dark-texto-escuro: #F3F4F6;
    --cor-dark-texto-clara: #B8BED0;
    /* Fim do Tema escuro */
}