@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #7C3AED;
    --cor-secuncaria: #FACC15;

    --cor-fundo:  #F3F4F6;
    --cor-fundo-branco: #FFF;
    --cor-fundo-verde: #2FA951;
    --cor-fundo-rodape: #1A1E30;

    --cor-texto-rodape: #e7e7e7;
    --cor-texto-escuro: #202755;
    --cor-texto-clara: #7d7f92;

    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-texto: 'Inter', sans-serif;
}